@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Inter', sans-serif;
  @apply bg-no-repeat bg-gradient-to-br from-indigo-50 via-white to-cyan-100;
}
@layer components {
  .gradient{
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
  
  }
}

.card:hover h2{
  @apply text-white;
}